html {
    background-color: hsl(234, 17%, 12%);
    background-image: url(images/bg-stars.svg);
    color: white;
    font-family: 'Red Hat Text', sans-serif;
}

.bingo {
    background-image: url(images/pattern-hills.svg);
    height: 195px;
    padding-left: 0%;
    padding-right: 0%;
}

.heading {
    word-spacing: 10px;
    text-align: center;
    padding: 50px;
}